body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('pic.png') no-repeat center center fixed;
    background-size: cover;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    color: #fff;
    background: #005ea8;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    display: inline-flex;
}
.back-button:hover {
    background: #003f74;
}